.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	.header_my_dogs {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		.back_button {
			
		}
		.paginator{

		}
		.upload_button{
			height: 100%;
		}
	}
	
	
}