@import '../../../styles/mixins.scss';

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 58px);
	grid-column-gap: 20px;
	background: #F8F8F7;
	border-radius: 20px;
	margin: 20px 0;
	@include adaptiv-property('padding-top', 10, 5);
	@include adaptiv-property('padding-right', 20, 7);
	@include adaptiv-property('padding-bottom', 20, 7);
	@include adaptiv-property('padding-left', 20, 7);
	@include adaptiv-property('grid-column-gap', 20, 5);
	.select {
		&.select_update {
			.wrapper_select_update {
				display: flex;
				justify-content: center;
				align-items: center;
				background: #FFFFFF;
				border-radius: 10px;
				cursor: pointer;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				font-weight: 500;
				transition: all .4s;
					> div {
						padding: 0 5px;
					}
					&:hover {
						background: #FF868E;
						color: white;
						button {
							background: #FF868E;
							svg {
								fill: white;
							}
						}
					}
					button {
						flex: 0 0 40px;
						height: 40px;
						background: #FFFFFF;
						border-radius: 10px;
						transition: all .4s;
							svg {
								fill: #FF868E;
								transition: all .4s;
							}
							&:hover {
								
							}
					}
			}
		}
		label {
			font-weight: 500;
			font-size: 10px;
			line-height: 18px;
			color: #8C8C8C;
			text-transform: uppercase;
			margin-left: 10px;
		}
	}
	@media(max-width: 500px){
		display: block;
	}
}