@import '../../styles/mixins.scss';

.header_text {
	font-weight: 500;
	line-height: 52px;
	color: #1D1D1D;
	text-align: center;
	@include adaptiv-property('font-size', 36, 18);

}
.wrapper_button {
	display: flex;
	justify-content: flex-end;
	.button {
		width: 40px;
		height: 40px;
		background: #FFFFFF;
		border-radius: 10px;
		transition: all .4s;
		svg {
			fill: #FF868E;
			transition: all .4s;
		}
		&:hover {
			background: #FF868E;
			svg {
				fill: #FFFFFF;
			}
		}
	}
}
.file_selected {
	margin-top: 20px;
	text-align: center;

	line-height: 30px;
	color: #8C8C8C;
	@include adaptiv-property('font-size', 26, 14);
}
.upload_button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-top: 20px;
}
.wrong_image {
	color: #FF868E;
	text-align: center;
}
