@import '../../styles/mixins.scss';

.wrapper{
		display: block;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 4px solid rgba(255, 255, 255, 0.6);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 100%;
		margin-bottom: 10px;
		transition: all .3s;
		@include adaptiv-property('border-radius', 20, 7);

		&_purple {
			background: #B4B7FF;
		}
		&_green {
			background: #97EAB9;
		}
		&_yellow {
			background: #FFD280;
		}
		.img_wrapper {
			width: 100%;
			position: relative;
			padding-bottom: 142%;
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.button {
		font-family: Jost;
		width: 100%;
		background: #FFFFFF;
		text-align: center;
		letter-spacing: 2px;
		color: #FF868E;
		font-weight: 500;
		text-transform: uppercase;
		transition: all .3s;
		@include adaptiv-property('border-radius', 10, 3);
		@include adaptiv-property('font-size', 16, 10);
		@include adaptiv-property('line-height', 16, 12);
		@include adaptiv-property('padding-left', 10, 3);
		@include adaptiv-property('padding-right', 10, 3);
		@include adaptiv-property('padding-top', 10, 3);
		@include adaptiv-property('padding-bottom', 10, 3);
	}
	&:hover {
		.button {
			background: #FBE0DC;
			color: #FF868E;
		}
		.container {
			border: 4px solid #FFFFFF;
		}
	}
	&.active {
		cursor: auto;
		.button {
			background: #FF868E;
			color: #fff;
		}
		.container {
			border: 4px solid #FBE0DC;
		}
		&:hover {
			.button {
				background: #FF868E;
				color: #fff;
			}
			.container {
				border: 4px solid #FBE0DC;
			}
		}
	}
}