@import '../../styles/mixins.scss';

.wrapper {
	display: flex;
	align-items: center;
	.back_button {
		@include adaptiv-property('width', 40, 20);
		@include adaptiv-property('height', 40, 20);
		@include adaptiv-property('border-radius', 10, 3);
		background: #FBE0DC;
		
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		transition: all .4s;
		cursor: pointer;
			svg {
				width: 70%;
				height: 70%;
				fill: #FF868E;
				transition: all .4s;
			}
			&:hover {
				background: #FF868E;
				svg {
					fill: white ;
				}
			}
	}
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #FF868E;
		font-weight: 500;
		@include adaptiv-property('font-size', 25, 16);
		line-height: 30px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: white;
		@include adaptiv-property('padding-left', 30, 10);
		@include adaptiv-property('padding-right', 30, 10);
		@include adaptiv-property('height', 40, 20);
		@include adaptiv-property('border-radius', 10, 3);



	}
}