.wrapper {
	display: flex;
	margin-bottom: 10px;
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		background: #FFFFFF;
		border-radius: 20px;
		transition: all .4s;
			svg {
				fill: #FF868E;
				transition:  all .4s;
			}
			&:hover {
				background: #FBE0DC;
			}
			&.favourites {
				svg {
					fill: none;
					stroke: #FF868E;
				}
				&:hover {
					background: #FBE0DC;
				}
			}
	}
	.form {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		margin-right: 10px;
		background: #FFFFFF;
		border-radius: 20px;
		padding: 10px 10px 10px 20px;
			input {
				flex: 1 1 auto;
				color: #8C8C8C;
				font-size: 20px;
				line-height: 20px;
				margin-right: 10px;
				
			}
			button {
				border-radius: 10px;
				flex: 0 1 40px;
				background: #FBE0DC;
				// width: 40px;
				height: 40px;
				&:hover {
					background: #FF868E;
					svg {
						fill: white;
					}
				}
			}
			&:hover {
				box-shadow: 0 0 0 2px #FBE0DC;
			}
			&:focus-within {
				box-shadow: 0 0 0 2px #FF868E;
			}
	}
	.links_wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 0 1 200px;
	}
}