.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #F8F8F7;
	border-radius: 10px;
	padding: 15px 20px 15px 15px;
	margin-bottom: 10px;
	.wrapper_text {
		display: flex;
		margin-right: 10px;
		.time_style {
			background: #FFFFFF;
			border-radius: 5px;
			font-size: 14px;
			line-height: 24px;
			color: #1D1D1D;
			padding: 3px 10px;
			margin-right: 20px;
			font-size: 16px;
		}
		.text {
			font-size: 16px;
			line-height: 24px;
			color: #8C8C8C;
			span {
				font-weight: 500;
				color: #1D1D1D;
			}
		}
	}
	.icon_style_favourites {
		svg {
			fill: none;
			stroke: #FF868E;
		}
	}
	.icon_style_likes {
		svg {
			fill: #97EAB9;
		}
	}
	.icon_style_dislikes {
		svg {
			fill:#FFD280;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}
