@import '../../styles/mixins.scss';

.burger_menu {
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #FFFFFF;
	cursor: pointer;
	@include adaptiv-property('padding-left', 5, 2);
	@include adaptiv-property('padding-right', 5, 2);
	@include adaptiv-property('width', 40, 30);
	@include adaptiv-property('height', 40, 30);
	@include adaptiv-property('border-radius', 10, 5);
		span {
			height: 2px;
			background: #FF868E;
		}
		&.active {
			justify-content: center;
			span {
				&:nth-child(even) {
					transform: scale(0);
				}
				&:first-child {
					transform: translateY(100%) rotate(45deg);
				}
				&:last-child {
					transform: translateY(-100%) rotate(-45deg);
				}
			}
		}
	@media(min-width: 992px){
		display: none;
	}
}