.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	.header_breeds {
		display: flex;
		margin-bottom: 20px;
		flex: 0 0 40px;
		.back_button {
			margin-right: 10px;
			// flex: 0 0 200px;
		}
		&_id {
			border-radius: 10px;
			background: #FF868E;
			color: #FFFFFF;
			letter-spacing: 2px;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			padding: 5px 30px;
		}
	}
	.info_contant {
		overflow-y: auto;
		padding: 10px;
		.image_wrapper{
			width: 100%;
			padding-bottom: 50%;
			position: relative;
			border-radius: 20px;
			border: 2px solid #FBE0DC;
			margin-bottom: 50px;
			.image_container {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				padding: 10px;
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
			}	
		}
		.info {
			border: 2px solid #FBE0DC;
			border-radius: 20px;
			padding: 25px 40px 30px 40px;
			position: relative;
				h2 {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #1D1D1D;
					font-weight: 500;
					font-size: 36px;
					line-height: 52px;
					background: white;
					span{
						position: relative;
						&:after, &:before{
							content: '';
							position: absolute;
							display: block;
							width: 40px;
							height: 100%;
							top: 0;
							
							background: white;
						}
						&:after {
							left: 0;
							transform: translateX(-100%);
						}
						&:before {
							right: 0;
							transform: translateX(100%);
						}
					}
				}
				.breed_for {
					color: #8C8C8C;
					font-weight: 500;
					font-size: 20px;
					line-height: 29px;
					margin-bottom: 20px;
					text-align: center;
				}
				.info_body {
					display: flex;
					justify-content: space-between;
					> div {
						flex: 0 1 45%;
					}
					p {
						color: #8C8C8C;
						font-size: 16px;
						line-height: 23px;
					}
					.info_temperament {
						h3 {
							color: #1D1D1D;
							font-weight: 500;
							font-size: 16px;
							line-height: 23px;
							margin-bottom: 5px;
						}
					}
					.info_params {
						p {
							margin-bottom: 10px;
							span {
								color: #1D1D1D;
								font-weight: 500;
								font-size: 16px;
								line-height: 23px;
							}
						}
					}
				}
		}
	}
	
}
