.wrapper {
	.navigation {
		display: flex;
		justify-content: space-between;
		width: 81%;
		> * {
			flex: 0 1 31%;
		}
	}
	.logo{
		margin-bottom: 80px;
	}
	.greetings {
		margin-bottom: 110px;
	}
}