@import '../../styles/mixins.scss';

.wrapper {
	@media (max-width: 992px){
		text-align: center;
		transition: all .6s;
		top: 0;
		left: -110%;
		background: #F8F8F7;
		z-index: 50;
		padding: 10px;
		width: 100vw;
		height: 100vh;
		position: fixed;
			&.home_page {
				left: 0;
			}
			&.mobile_menu {
				left: 0;
			}
	}
	.navigation {
		display: flex;
		justify-content: space-between;
		width: 85%;
		> * {
			flex: 0 1 31%;
		}
		@media(max-width: 992px){
			width: 80%;
			margin: 0 auto;
		}
	}
	.logo{
		@include adaptiv-property('margin-bottom', 90, 20);
		display: flex;
		justify-content: space-between;
	}
	.greetings {
		@include adaptiv-property('margin-bottom', 50, 30);
	}
	
}