@import './styles/mixins.scss';

.app {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	@include adaptiv-property('padding-top', 30, 10);
	@include adaptiv-property('padding-left', 130, 30);
	@include adaptiv-property('padding-bottom', 30, 10);
	@include adaptiv-property('padding-right', 30, 10);
	@media (max-width: 992px){
		@include adaptiv-property('padding-left', 30, 10);
	}
}
.wrapper_page {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	> div{
		&:first-child {
			flex: 0 1 45%;
			margin-right: 10px;
			@media (max-width: 992px){
			
				
			}
		}
		&:last-child {
			flex: 0 1 55%;
			@media (max-width: 992px){
				flex: 0 1 100%;
				
			}
		}
	}
}